/* Colours */
:root {
    --primary-text: #333;
    --col3-bg: #f6f6f6;
    --col3-border: #e0e0e0;
    --task-shadow: rgba(0, 0, 0, 0.1);
    --no-date-primary: #FFC107;
    --no-date-bg: rgba(255, 193, 7, 0.3);
    --upcoming-primary: #007bff;
    --upcoming-bg: rgba(0, 123, 255, 0.25);
    --overdue-primary: #ff0000;
    --overdue-bg: rgba(255, 0, 0, 0.25);
    --complete-primary: #28A745;
    --complete-bg: rgba(40, 167, 69, 0.25);
}

.dark-mode {
    --primary-text: #e0e0e0;
    --col3-bg: #333;
    --col3-border: #444;
    --task-shadow: rgba(0, 0, 0, 0.3);
    --no-date-primary: #f4d03f;
    --no-date-bg: rgba(244, 208, 63, 0.2);
    --upcoming-primary: #3498db;
    --upcoming-bg: rgba(52, 152, 219, 0.2);
    --overdue-primary: #dd2222;
    --overdue-bg: rgba(169, 0, 0, 0.25);
    --complete-primary: #2ecc71;
    --complete-bg: rgba(46, 204, 113, 0.2);
}

.high-contrast-mode {
    --primary-text: #e0e0e0;
    --col3-bg: #141414;
    --col3-border: #40ff00;
    --task-shadow: rgba(0, 0, 0, 0.3);
    --no-date-primary: #FFC107;
    --no-date-bg: rgba(255, 193, 7, 0.3);
    --upcoming-primary: #007bff;
    --upcoming-bg: rgba(0, 123, 255, 0.25);
    --overdue-primary: #ff0000;
    --overdue-bg: rgba(255, 0, 0, 0.25);
    --complete-primary: #2ecc71;
    --complete-bg: rgba(46, 204, 113, 0.2);
}

/* Header */
.header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.header h4 {
    color: var(--primary-text);
    width: 100%;
    text-align: center;
}

.subtitle {
    color: var(--primary-text);
}

/* Column Styling */
.drag-drop-container {
    display: flex;
    height: 70vh;
}

.col3 {
    position: relative;
    background: var(--col3-bg);
    height: 65vh;
    width: 100%;
    margin: 15px;
    border: 2px solid var(--col3-border);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    overflow-y: hidden;
    transition: all 0.3s ease-in-out;
}

/* Subtle Hover Effect */
.col3:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px var(--task-shadow);
}

.task-list {
    position: inherit;
    max-height: 65vh;
    width: 100%;
    padding: 15px;
    overflow-y: auto; 
}

/* Task Styling */
.task {
    position: relative;
    /* Make task element a positioned container */
    color: var(--primary-text);
    margin: 15px;
    padding: 15px 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    cursor: grab;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    /* Subtle shadow for better visibility */
    box-shadow: 0px 3px 6px var(--task-shadow);
}

/* Task Hover Effect */
.task:hover {
    transform: scale(1.03);
    /* Lift effect */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.delete-btn {
    /* Position the delete button absolutely within the task */
    position: absolute;
    /* Position 10px from the bottom */
    bottom: 10px;
    /* Position 10px from the right */
    right: 10px;
    /* Make it look clickable */
    cursor: pointer;
}

.delete-btn i {
    /* Icon size */
    font-size: 18px;
    color: var(--delete-bg);
}

/* Optional: Add a hover effect to the delete button */
.delete-btn:hover i {
    color: var(--delete-border-hover);
}

/* Style the '+' icon button at the bottom-left of each column */
/* Initially hide the add task button */
.add-task-link {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* Show the add task button when hovering over the column */
.col3:hover .add-task-link {
    display: block;
}

.add-task-link a {
    /* Remove underline from link */
    text-decoration: none;
    /* Inherit color from parent */
    color: inherit;
}

.add-task-link i {
    /* Make it look clickable */
    cursor: pointer;
    font-size: 18px;
}

/* Optional: Add a hover effect to the '+' button */
.add-task-link:hover i {
    /* Darker blue when hovered */
    color: #0056b3;
    font-size: 22px;
}

/* Task Colors */
.backlog-task {
    border: 3px solid var(--no-date-primary);
    background-color: var(--no-date-bg);
}

.upcoming-task {
    border: 3px solid var(--upcoming-primary);
    background-color: var(--upcoming-bg);
}

.overdue-task {
    border: 3px solid var(--overdue-primary);
    background-color: var(--overdue-bg);
}

.complete-task {
    border: 3px solid var(--complete-primary);
    background-color: var(--complete-bg);
}

/* Task Count Colors - Matching Borders */
#backlog-header span {
    color: var(--no-date-primary);
}

#upcoming-header span {
    color: var(--upcoming-primary);
}

#overdue-header span {
    color: var(--overdue-primary);
}

#complete-header span {
    color: var(--complete-primary);
}

select {
    background-color: var(--col3-border);
    color: var(--primary-text);
    border: 1px solid var(--primary-text);
}

/* General Task Styles */
.task-details {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tag {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
}

/* Recurring Tag Color */
.recurring-tag {
    background-color: #81b8ca;
    color: #1f3a81;
}