@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

html,
body {
  display: grid;
}

/* ========================= */
/*        Light Mode         */
/* ========================= */
/* Hero Section */
.hero-section {
  height: 85vh;
  display: flex;
  align-items: center;
}

.hero-text {
  max-width: 500px;
}

.hero-image {
  width: 100%;
  max-width: 450px;
}

/* Feature Section */
.feature-icons {
  text-align: center;
  margin-top: 40px;
}

.feature-icons i {
  font-size: 2rem;
  color: #007bff;
}

/* ========================= */
/*         Dark Mode         */
/* ========================= */
.dark-mode .feature-icons i {
  color: #66b2ff;
}
