@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Light Mode (Default) */
:root {
  --primary-bg: #fafafe;
  --primary-text: #333;
  --secondary-bg: #fff;
  --navbar-bg: #333;
  --navbar-text: #ffffff;
  --footer-bg: #333;
  --footer-text: #ffffff;
  --task-text: #000; /* Task details black in light mode */
  --button-color: #38a3ea;
  --button-text-color: #ffffff;
  --button-hover-color: #246a98;
  --button-color-secondary: transparent;
  --button-text-color-secondary: #007bff;
  --button-border-color-secondary: #007bff;
  --button-hover-color-secondary: #007bff;
  --button-hover-text-color-secondary: #fff;
  --border-color: #757575;
  --shadow-color: #d9d9d9;
}

/* Dark Mode */
.dark-mode {
  --primary-bg: #252525;
  --primary-text: #fefefe;
  --secondary-bg: #8c8c8c;
  --navbar-bg: #161616;
  --navbar-text: #f0f0f0;
  --footer-bg: #161616;
  --footer-text: #f0f0f0;
  --task-text: #ffffff; /* Task details white in dark mode */
  --button-color: #007bff;
  --button-text-color: #ffffff;
  --button-hover-color: #004997;
  --button-color-secondary: #007bff;
  --button-text-color-secondary: #ffffff;
  --button-border-color-secondary: transparent;
  --button-hover-color-secondary: #0056b3;
  --button-hover-text-color-secondary: #ffffff;
  --border-color: #000000;
  --shadow-color: #000000;
}


/* General styling */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.container {
  flex: 1; /* Pushes the footer down */
}


/* Nav bar */
.navbar-custom {
  background-color: var(--navbar-bg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  color: var(--navbar-text) !important;
}

.nav-link {
  color: var(--navbar-text) !important;
  font-weight: 500;
}

.nav-link:hover {
  color: #72c9ff !important;
}


/* Buttons */
.btn {
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--button-color);
  border: none;
}

.btn-secondary {
  background-color: #7f8c8d;
  border: none;
}


/* Add task area */
.task-counter{
  font-weight: 600;
  color: rgb(94, 94, 94);
  margin-bottom: 0;
}

.js-add-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.813rem;
  column-gap: 10px;
}

.js-actions-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  grid-row: auto;
  grid-column: auto;
}

.js-time-input:disabled {
  background-color: #e0e0e0; /* Light gray background */
  color: #888; /* Dim text color */
  cursor: not-allowed; /* Show "not allowed" cursor */
}

.js-add-button {
  background-color: var(--button-color);
  color: var(--navbar-text);
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 15px;
  border-radius: 5px;
}

.js-add-button:hover, .js-add-button:focus-visible {
  background-color: var(--button-hover-color);
}

/* Sort Buttons */
.sort-button-category,
.sort-button-priority {
  background-color: var(--button-color-secondary);
  color: var(--button-text-color-secondary);
  border-color: var(--button-border-color-secondary);
}

.sort-button-category:hover,
.sort-button-priority:hover {
  background-color: var(--button-hover-color-secondary);
  color: var(--button-hover-text-color-secondary);
}


/* Task list */
.js-add-html {
  display: grid;
  align-items: center;
  row-gap: 0.8rem;
  padding: 20px;
  height: fit-content;
  transition: all 0.3s ease;
  /* margin: 0 auto 0.813rem auto; */
  /* border: 1px black solid; */
  /* border-radius: 8px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* background-color: rgba(255, 255, 255, 0.9); */
}


/* Single task styling */
.task {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  background-color: var(--secondary-bg);
  border: 1px var(--border-color) solid;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px var(--shadow-color);
  transition: all 0.3s ease;
  align-items: center;
}

.task:hover {
  width: 81%;
  font-size: 1.25rem;
}

.small-container {
  height: 85%;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: 600;
  min-height: 45px;
  box-sizing: border-box;
  gap: 0.7rem;
  transition: background-color 0.3s ease;
}

.date-section {
  justify-content: flex-end;
  font-weight: 400;
  width: 100%;
  font-size: 0.8em;
}

.task-info {
  display: flex;
  align-items: center;
  gap: 0px 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.task-name {
  overflow: auto;
  overflow-wrap: anywhere;
}

.category-tag,
.priority-tag {
  display: inline-block;
  padding: 1px 6px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
}

.category-tag {
  background-color: #e0e0e0;
  color: #333;
}

.priority-High {
  background-color: #ffcccb;
  color: #d8000c;
}

.priority-Medium {
  background-color: #feefb3;
  color: #9f6000;
}

.priority-Low {
  background-color: #d4edda;
  color: #155724;
}

.js-delete-button,
.js-edit-button {
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  height: 75%;
  width: 90%;
  max-width: 100px;
  justify-self: end;
  margin: 0 15px 0 0;
  box-sizing: border-box;
}

.js-complete-checkbox{
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.js-delete-button {
  background-color: red;
  color: white;
}

.js-delete-button:hover, .js-delete-button:focus-visible {
  background-color: darkred;
}

.js-edit-button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: 3px var(--button-border-color) solid;

}

.js-edit-button:hover, .js-edit-button:focus-visible  {
  background-color: var(--button-hover-color);
  color: var(--button-text-color);
}

.js-add-button img,
.js-delete-button img,
.js-edit-button img {
  margin-right: 5px;
}

.js-add-button span {
  margin-right: 5px;
}

/* Task editing inline*/
.task-edit {
  width: 81%;
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 15px 15px 40px;
  justify-content: space-between;
  font-weight: 600;
}

.task-edit-fields{
  display: flex;
  flex: 1 1 500px;
  gap: 10px 20px;
  flex-wrap: wrap;
}

.task-edit-fields > input, 
.task-edit-fields > select{
  border: 1px var(--border-color) solid;
  border-radius: 5px;
  padding: 2px 5px;
}

.js-edit-name{
  min-width: 200px;
  max-width: 300px;
  font-weight: 600;
  border: none;
  field-sizing: content;
}

.break{
  flex-basis: 100%;
}

/* .js-edit-category{
  
}
.js-edit-priority{
  
}
.js-edit-date{
  
}
.js-edit-time{

} */

.task-edit-buttons{
  font-size: 1.15rem;
  display: flex;
  gap: 20px;
  flex: 1 1 auto;
  justify-content: flex-end;
  color: var(--secondary-bg);
}

.task-edit-buttons > *{
  border-radius: 10px;
  padding: 10px 10px;
  transition: all 0.3s ease;
  color: white;
  font-weight: 700;
  border: none;
}

.js-cancel-edit-button{
  color: var(--button-text-color);
  background-color: #858585;
}

.js-cancel-edit-button:hover ,
.js-cancel-edit-button:focus-visible {
  color: var(--button-text-color);
  background-color: #3b3b3b;
}

.js-save-edit-button{
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.js-save-edit-button:hover, 
.js-save-edit:focus-visible {
  background-color: var(--button-hover-color);
  color: var(--button-text-color);
}


/* Popup notification */
#js-success-notification {
  position: absolute;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #46a34a;
  width: 15%;
  min-width: 200px;
  height: 7%;
  left: 2%;
  bottom: 10%;
  color: #d4edda;
}


/* Footer */
.footer {
  padding: 20px 0;
  text-align: center;
  background-color: var(--footer-bg);
  color: var(--footer-text);
}


/* Dark mode styling */
.dark-mode .navbar-custom {
  background-color: var(--navbar-bg);
}

.dark-mode .navbar-brand,
.dark-mode .nav-link {
  color: var(--navbar-text) !important;
}

.dark-mode .js-add-grid{
  background-color: var(--secondary-bg);
}

.dark-mode .task-info,
.dark-mode .task-name {
  color: var(--task-text);
}

/* Sort Buttons */
#sort-button-category,
#sort-button-priority,
#sort-button-date {
  background-color: var(--button-color-secondary);
  color: var(--button-text-color-secondary);
  border-color: var(--button-border-color-secondary);
}

#sort-button-category:hover,
#sort-button-priority:hover,
#sort-button-date:hover {
  background-color: var(--button-hover-color-secondary);
  color: var(--button-hover-text-color-secondary);
}

.dark-mode .small-container {
  background-color: var(--secondary-bg);
  color: #ffffff;
  /* border: 1px solid #555; */
}

.dark-mode .js-add-html {
  background-color: var(--primary-bg);
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); */
}

.dark-mode .js-add-button,
.dark-mode .js-edit-button {
  background-color: var(--button-color);
  color: var(--primary-text);
}

.dark-mode .js-add-button:hover,
.dark-mode .js-edit-button:hover {
  background-color: var(--button-hover);
}

.dark-mode-toggle {
  display: flex;
  padding: 20px;
  justify-content: right;
}

#darkModeBtn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#darkModeBtn:hover {
  background-color: #444;
}

.dark-mode #darkModeBtn {
  background-color: #ffffff;
  color: #222;
}

/* Filter Menu Styling */
#sort-and-filter {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-self: center;
  margin-top: 2.5em;
  gap: 65px
}

/* Search Bar Styling */
.hide {
  display: none;
}

/* 24 hour toggle styling */
.form-check {
  width: 78%;
  justify-self: center;
}
.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}

.form-check-input:checked:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}