@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* ========================= */
/*      General Styling      */
/* ========================= */
:root {
  --primary-edit-bg: #fff;
  --primary-edit-text: #333;
  --button-hover-bg: #38a3ea;
  --button-hover-text: #fff;
  --input-border-hover: 2px solid #38a3ea;
  --cancel-edit-bg: #858585;
  --cancel-edit-hover: #3b3b3b;
  --cancel-edit-border: none;
  --form-border: 1px solid #dee2e6;
  --task-border: none;
}

.dark-mode {
  --primary-edit-bg: #fafafe;
  --primary-edit-text: #333;
  --button-hover-bg: #007bff;
  --input-border-hover: 2px solid #007bff;
  --button-hover-text: #fafafe;
  --cancel-edit-bg: #4f4f4f;
  --cancel-edit-hover: #272727;
  --cancel-edit-border: none;
  --cancel-border-hover: 2px solid #38a3ea;
  --form-border: 1px solid #dee2e6;
  --task-border: none;
}

.high-contrast-mode {
  --primary-edit-bg: #000;
  --primary-edit-text: #fafafe;
  --button-hover-bg: #ff9000;
  --button-hover-text: #fff;
  --input-border-hover: 2px solid #ff5900;
  --cancel-edit-bg: #858585;
  --cancel-edit-hover: #3b3b3b;
  --button-border: 1px solid #fff000;
  --button-border-hover: 2px solid #fff000;
  --add-grid-border: 2px solid #00ffff;
  --form-border: 1px solid #40ff00;
  --task-border: 1px solid #40ff00;
  --cancel-edit-border: 1px solid #fff;
  --cancel-border-hover: 2px solid #ff5900;
  --sort-button-hover-color: #ff9000;
}

/* Add task area */
.task-counter {
  font-weight: 600;
  color: var(--primary-text);
  margin-bottom: 0;
}

.js-add-grid {
  display: grid;
  grid-template-columns: 2.5fr 11rem 8rem 8rem 8rem 7.3rem 1fr;
  row-gap: 1rem;
  background-color: var(--secondary-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.813rem;
  column-gap: 10px;
  overflow: auto;
  border: var(--add-grid-border);
}

.js-actions-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  grid-row: auto;
  grid-column: auto;
}

.js-time-input:disabled,
.js-recurring-input:disabled {
  /* Light gray background */
  background-color: #e0e0e0;
  /* Dim text color */
  color: #888;
  /* Show "not allowed" cursor */
  cursor: not-allowed;
}

.js-add-button {
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 15px;
  border-radius: 5px;
}

/* Filter Menu Styling */
#sort-and-filter {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-top: 2.5em;
  gap: 65px
}

/* Sort Buttons */
.btn-outline-primary:hover,
.btn-outline-primary:focus-visible {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
}

/* Task list */
.js-add-html {
  display: grid;
  align-items: center;
  row-gap: 0.8rem;
  padding: 20px;
  height: fit-content;
  transition: all 0.3s ease;
  transition: background-color 0s ease;
  background-color: var(--primary-bg);
}

/* Single task styling */
.task {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  background-color: var(--secondary-bg);
  border: 1px var(--border-color) solid;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px var(--shadow-color);
  transition: all 0.3s ease;
  align-items: center;
}

.small-container {
  height: 85%;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 15px;
  border-radius: 10px;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  font-weight: 600;
  min-height: 45px;
  box-sizing: border-box;
  gap: 0.7rem;
  transition: background-color 0.3s ease;
}

.date-section {
  justify-content: flex-end;
  font-weight: 400;
  width: 100%;
  font-size: 0.8em;
}

.task-info {
  display: flex;
  align-items: center;
  gap: 0px 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.task-name {
  overflow-wrap: anywhere;
}

.js-delete-button,
.js-edit-button {
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  height: 75%;
  width: 90%;
  max-width: 100px;
  justify-self: end;
  margin: 0 15px 0 0;
  box-sizing: border-box;
  border: var(--button-border);
}

.js-complete-checkbox {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.js-delete-button {
  background-color: var(--delete-bg);
  color: var(--button-text-color);
}

.js-delete-button:hover,
.js-delete-button:focus-visible {
  background-color: var(--delete-bg-hover);
}

.js-edit-button {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.js-edit-button:hover,
.js-edit-button:focus-visible {
  background-color: var(--button-hover-color);
  color: var(--button-text-color);
  border: var(--button-border-hover);
}

.js-add-button img,
.js-delete-button img,
.js-edit-button img,
.js-add-button span {
  margin-right: 5px;
}

/* Task editing inline*/
.js-edit-name,
.js-edit-category,
.js-edit-priority,
.js-edit-date,
.js-edit-time,
.js-edit-recurring,
.js-filter-input {
  background-color: var(--primary-edit-bg);
  color: var(--primary-edit-text);
}

.js-edit-name:hover,
.js-edit-category:hover,
.js-edit-priority:hover,
.js-edit-date:hover,
.js-edit-time:hover,
.js-edit-name:focus-visible,
.js-edit-category:focus-visible,
.js-edit-priority:focus-visible,
.js-edit-date:focus-visible,
.js-edit-time:focus-visible,
.js-filter-input:hover,
.js-filter-input:focus-visible,
.js-edit-recurring:hover,
.js-edit-recurring:focus-visible {
  border: var(--input-border-hover);
}

.task-edit {
  width: 81%;
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 15px 15px 40px;
  justify-content: space-between;
  font-weight: 600;
}

.task-edit-fields {
  display: flex;
  flex: 1 1 500px;
  gap: 10px 20px;
  flex-wrap: wrap;
}

.task-edit-fields>input,
.task-edit-fields>select {
  border: var(--form-border);
  border-radius: 5px;
  padding: 2px 5px;
}

.js-edit-name {
  min-width: 200px;
  max-width: 300px;
  font-weight: 600;
  /* field-sizing: content; */
}

.break {
  flex-basis: 100%;
}

.task-edit-buttons {
  font-size: 1.15rem;
  display: flex;
  gap: 20px;
  flex: 1 1 auto;
  justify-content: flex-end;
  color: var(--secondary-bg);
}

.task-edit-buttons>* {
  border-radius: 10px;
  padding: 10px 10px;
  transition: all 0.3s ease;
  color: white;
  font-weight: 700;
  border: none;
}

.js-cancel-edit-button {
  color: var(--button-text-color);
  background-color: var(--cancel-edit-bg);
  border: var(--cancel-edit-border);
}

.js-cancel-edit-button:hover,
.js-cancel-edit-button:focus-visible {
  background-color: var(--cancel-edit-hover);
  border: var(--cancel-border-hover);
}

.js-save-edit-button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: var(--button-border);
}

.js-save-edit-button:hover,
.js-save-edit-button:focus-visible {
  background-color: var(--button-hover-color);
  color: var(--button-text-color);
  border: var(--button-border-hover);
}

/* Popup notification */
#js-success-notification {
  position: fixed;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  width: 10%;
  min-width: fit-content;
  height: 6%;
  left: 2%;
  bottom: 10%;
  color: var(--button-text-color);
}

/* 24 hour toggle styling */
.form-check {
  border-radius: 5px;
  display: inline-block;
}

.form-check-input:checked {
  background-color: var(--button-color);
  border-color: var(--button-color);
  cursor: pointer;
}

.small-container,
.form-switch {
  border: var(--task-border);
}